.servicecontainer{
    background-image: url('../assets/bkgapp.jpg');
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
}

.servicebox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.servicebutton{
    background-color: #FFFF00;
    border:1px solid #FFFF00;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    padding:1rem 4rem;
    cursor: pointer;
    width: 20%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}